#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}


.heading{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}






.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}

.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
}

.environment_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}

.book
{
  cursor: pointer;
}

.book hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}
.nav{
  float:right;
}



.parallax-inner {

  display: table-cell;
  position: relative;
  text-align: center;
 vertical-align: middle;
  


}
#quote{
  font-family: 'Pacifico', cursive;
  
  font-size: 40px;
  background-color:white ;
  margin-right: 300px;
  margin-left:300px;
}


#welcome {
  position: relative;
 
  color:#09131Bff;
  left: 0;
  
 
  right: 0;
  opacity: 0.83;
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  height: 600px;
  z-index:10;
}

.mb{
  height:400px;
}
.text{
  color:#52423Bff;
text-align: center;
font-size:20px;
}


#myCarouse2 img
{
  height:fit-content;

    
}

#myCarouse3 img
{
  height:fit-content;

    
}


.single-work {
  position: relative;
  overflow: hidden;
}
.single-work img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.single-work:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.work-overlay {
  position: absolute;
  pointer-events: none;
  padding: 12px;
  width: -webkit-calc(100% - 16px);
  width: -moz-calc(100% - 16px);
  width: calc(100% - 16px);
  height: -webkit-calc(100% - 16px);
  height: -moz-calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.work-overlay:after {
content: '';
position: absolute;
  width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
  height: -webkit-calc(100% - 24px);
  height: -moz-calc(100% - 24px);
  height: calc(100% - 24px);
  top: 12px;
  left: 12px;
  border: 1px solid #fdfdfd;

}


#img1 , #img2{
  text-align: center;
}
#img3 , #img4 , #img5 {
  margin: 10px auto;
  width :80%;
}
#Certificates1
{
  background-color: #E6DDD9ff;
}
li{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}